<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
{% for task in tasks %}
<ul>
    <li>
<p><b>{{ task.title}}</b></p>

{% if task.get_name_priority_display == 'Низкий' %}
   <p class="priority1">{{ task.get_name_priority_display }}</p>
{% elif task.get_name_priority_display == 'Средний' %}
    <p class="priority2">{{ task.get_name_priority_display }}</p>
{% else %}
    <p class="priority3">{{ task.get_name_priority_display }}</p>
{% endif %}

<p>{{ task.status }}</p>
<p> Создана: {{ task.date_task }} {{ task.time_task }}</p>
<p> Сделать до: {{ task.deadline_task }}</p>
<p>{{ task.description }}</p>
    </li>
    </br>
</ul>
{% endfor %}

</body>
</html>